<div class="container-xxxl">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-interval="5000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="css/img/Nutris/1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="css/img/Nutris/2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="css/img/Nutris/3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="container p-4">
    <div class="row">
    
      <div class="col-md-6 p-4">
        <h5 class="mt-0">Nuestra Misión</h5>
        <p class="text-justify">En Electronic Circuit, nuestra misión es proporcionar a los entusiastas de la electrónica herramientas accesibles y efectivas, respaldadas por inteligencia artificial, para resolver circuitos eléctricos de manera eficiente. Creemos en la importancia de ofrecer soluciones personalizadas basadas en la ciencia y empoderar a los usuarios para tomar decisiones informadas en el diseño y análisis de circuitos.</p>
        <h5 class="mt-4">Únete a Electronic Circuit</h5>
        <p class="text-justify">Electronic Circuit no es solo una aplicación, es una comunidad comprometida con la electrónica y la innovación en circuitos eléctricos. Te invitamos a unirte a nosotros, compartir tus experiencias, desafíos y éxitos en la resolución de circuitos eléctricos. Juntos, estamos construyendo un espacio donde cada persona puede encontrar el apoyo necesario para resolver complejos problemas eléctricos.</p>
      </div>
      
      <div class="col-md-6 p-4">
        <center>
          <img src="css/img/Program/image.jpg" class="img-thumbnail" alt="..." width="225" height="300">
        </center>
      </div>
      
    </div>

    <center>
      <h6>Cada elección de diseño es un paso hacia una versión más eficiente de tu circuito. ¡Haz que cada elección cuente con Electronic Circuit!</h6>
    </center>

    <div class="row">
    
      <div class="col-md-6 p-4">
        <center>
          <img src="css/img/Program/image2.jpg" class="img-thumbnail" alt="..." width="225" height="300">
        </center>
      </div>
      
      <div class="col-md-6 p-4">
        <h5 class="mt-0">Nuestro Compromiso</h5>
        <p class="text-justify">Estamos comprometidos con la excelencia en el diseño y análisis de circuitos eléctricos. Nuestra aplicación utiliza inteligencia artificial de vanguardia respaldada por expertos en electrónica para ofrecer soluciones personalizadas que se adapten a tus necesidades específicas.</p>
        <h5 class="mt-4">Nuestro Enfoque</h5>
        <p class="text-justify">Nos destacamos por nuestro enfoque centrado en el usuario. Entendemos que cada proyecto eléctrico es único, y por lo tanto, nuestras recomendaciones y soluciones son personalizadas para adaptarse a diferentes requisitos, objetivos y condiciones de diseño. Buscamos ser un compañero confiable en tu viaje hacia la resolución eficiente de circuitos eléctricos y el logro de tus metas en electrónica.</p>
      </div>
      
    </div>
  </div>


        {{> footer}}
</div>

