<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-center">
    <div class="row">
        <div class="col">
        <h1>Salud</h1>
        <p>
        Un estudio sugiere que la falta de ejercicio causa tantas muertes como el tabaco en todo el mundo1. Por eso, es importante realizar actividad física de forma regular, al menos 30 minutos al día, para prevenir enfermedades cardiovasculares, diabetes, obesidad y depresión.
        </p>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="css/img/Health.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    </div>
</body>
</html>