<div class="container-fluid p-4">
    <h4>Bienvenido {{user.fullname}}</h4>
    <div class="row align-items-end text-center">
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card" style="width: 18rem;">
                <img src="css/img/Program/Dieta.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dieta</h5>
                    <p class="card-text text-justify">En este espacio podras crar una dieta personalizada que podras seguir para tener una mejor calidad en tu alimentaci칩n.</p>
                    <a href="/crearDieta" class="btn btn-info">Crea una dieta</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card" style="width: 18rem;">
                <img src="css/img/Program/Rutina.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rutina</h5>
                    <p class="card-text text-justify">En este espacio podras crar una dieta personalizada que podras seguir para tener una mejor calidad en tu alimentaci칩n.</p>
                    <a href="/crearDieta" class="btn btn-info">Crea una rutina</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card" style="width: 18rem;">
                <img src="css/img/Program/Info.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text text-justify">En este espacio podras crar una dieta personalizada que podras seguir para tener una mejor calidad en tu alimentaci칩n.</p>
                    <a href="/crearDieta" class="btn btn-info">Saber m치s</a>
                </div>
            </div>
        </div>
    </div>
</div>