<div class="container-fluid p-4">
    <h4>Bienvenido {{user.fullname}}</h4>
    <div class="row align-items-end text-center">
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="css/img/Program/Info.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text text-justify">En este espacio dispones de los términos y codiciones, manual de usuario y de los agradecimiento de Electronic Circuit.</p>
                    <a href="/info" class="btn btn-info">Saber más</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="css/img/Program/Dieta.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chat</h5>
                    <p class="card-text text-justify">En este apartado dispones de un chat potenciado con inteligencia artificial que te permite resolver cualquier tipo de dudas.</p>
                    <a href="/chat" class="btn btn-info">Chat</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center align-items-center p-4">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="css/img/Program/Rutina.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Datos interesates</h5>
                    <p class="card-text text-justify">En esta sección podrás aprender más sobre las últimas novedades y datos interesantes sobre la tecnología y sus beneficios.</p>
                    <a href="/datos" class="btn btn-info">datos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}