<div class="container-xxxl">
    <footer class="footer mt-auto py-3 bg-light p-4">
        <div class="container text-center">
            <div class="row justify-content-center"> <!-- Añade la clase 'justify-content-center' -->
                <div class="col-lg-4 mb-5 mb-lg-0 text-center"> <!-- Añade la clase 'text-center' -->
                    <h4 class="text-uppercase mb-4">Acerca de Nutris</h4>
                    <p class="lead mb-0">Nutris es una aplicación dedicada a la nutrición y la salud. Nuestro objetivo es ayudarte a llevar una vida más saludable.</p>
                </div>
                <div class="col-lg-4 text-center"> <!-- Añade la clase 'text-center' -->
                    <h4 class="text-uppercase mb-4">Nutris</h4>
                    <p class="lead mb-0">© 2023 Nutris </p>
                    <img src="css/img/Vectores/logo.png" class="rounded mx-auto d-block m-2" alt="..." style="width: 100px;">
                </div>
            </div>
        </div>
    </footer>
</div>
