<div class="container p-4">
    <div class="row">
    
      <div class="col-md-6 p-4">
        <h5 class="mt-0">¿Que es IA?</h5>
        <p class="text-justify">La Inteligencia Artificial es una rama de la informática que se enfoca en crear sistemas capaces de realizar tareas que requieren inteligencia humana. Estas incluyen aprendizaje, razonamiento, percepción, comprensión del lenguaje y resolución de problemas.
        ¿Cómo funciona?: La IA funciona a través de algoritmos y modelos matemáticos que permiten a las máquinas aprender de los datos. Utiliza métodos como el aprendizaje automático (machine learning) y el aprendizaje profundo (deep learning) para analizar patrones, hacer predicciones y tomar decisiones.</p>
        <h5 class="mt-4">¿Qué son los circuitos electricos?</h5>
        <p class="text-justify">Los circuitos eléctricos son sistemas que permiten el flujo de corriente eléctrica para realizar funciones específicas. Un circuito eléctrico consta de varios componentes interconectados que trabajan juntos para realizar una tarea eléctrica particular. Estos componentes pueden incluir fuentes de energía, como baterías o generadores, elementos de control, como interruptores, resistencias que limitan el flujo de corriente, y dispositivos de salida, como lámparas, motores o cualquier otro dispositivo que realice una función específica.</p>
      </div>
      
      <div class="col-md-6 p-4">
        <center>
          <img src="css/img/Data/5.jpeg" class="img-thumbnail" alt="..." width="525" height="500">
        </center>
      </div>
      
    </div>
    <br>
        <center>
        <h6>¿Por que Inteligencia Artificial?</h6>
        </center>  
    <br>
    <div class="row">
    
      <div class="col-md-6 p-4">
        <center>
          <img src="css/img/Data/6.jpeg" class="img-thumbnail" alt="..." width="525" height="500">
        </center>
      </div>
      
      <div class="col-md-6 p-4">
        <h5 class="mt-0">Aplicación</h5>
        <p class="text-justify">Utilizar una IA para resolver ejercicios eléctricos en una aplicación ofrece varias ventajas. La inteligencia artificial puede procesar y analizar una amplia gama de problemas eléctricos, proporcionando soluciones precisas y rápidas. Además, puede adaptarse a diferentes niveles de dificultad y ofrecer retroalimentación personalizada, ayudando a los usuarios a comprender conceptos complejos. La IA también tiene la capacidad de aprender y mejorar con el tiempo, lo que significa que la calidad de las soluciones puede aumentar continuamente. Esto hace que la experiencia de aprendizaje sea más dinámica y efectiva para los usuarios.</p>
        <h5 class="mt-0">¿Qué es un circuito?</h5>
        <p class="text-justify">Un circuito consta de componentes como fuentes de energía, interruptores, resistencias, capacitores y más, que trabajan juntos para controlar el flujo de la corriente. Al entender cómo estos elementos se conectan y cómo influyen en la corriente eléctrica, podemos diseñar circuitos para satisfacer necesidades específicas, desde los más simples hasta los más sofisticados.</p>
        
      </div>
      
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="col d-flex justify-content-center align-items-center p-4">
                <div class="card bg-dark text-white" style="width: 18rem;">
                    <img src="css/img/Data/1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">¿Qué es la inteligencia artificial?</h5>
                        <p class="card-text text-justify">La inteligencia artificial (IA) es la ciencia y la ingeniería de hacer máquinas inteligentes, especialmente programas informáticos, según un artículo del Departamento de Ciencias de la Computación de la Universidad de Stanford, Estados Unidos.ñ</p>
                        <a href="https://www.nationalgeographicla.com/ciencia/2023/02/que-es-la-inteligencia-artificial" class="btn btn-info">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col d-flex justify-content-center align-items-center p-4">
                <div class="card bg-dark text-white" style="width: 18rem;">
                    <img src="css/img/Data/2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">El ChatGPT ya puede ver, oír y hablar: Así suena su voz</h5>
                        <p class="card-text text-justify">Hablar con el ChatGPT ya es una realidad. OpenAI, la compañía detrás del chatbot, ha presentado una nueva versión de su popular herramienta, que ahora tiene la capacidad de «ver, oír y hablar» en voz alta con los usuarios.</p>
                        <a href="https://www.ngenespanol.com/tecnologia/como-hablar-con-el-chatgpt/" class="btn btn-info">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col d-flex justify-content-center align-items-center p-4">
                <div class="card bg-dark text-white" style="width: 18rem;">
                    <img src="css/img/Data/3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">¿Qué es la ley de Ohm</h5>
                        <p class="card-text text-justify">La ley de Ohm se usa para determinar la relación entre tensión, corriente y resistencia en un circuito eléctrico. Para los estudiantes de electrónica, la ley de Ohm (E = IR) es tan fundamental como lo es la ecuación de la relatividad de Einstein (E = mc²) para los físicos.</p>
                        <a href="https://www.fluke.com/es-es/informacion/blog/electrica/que-es-la-ley-de-ohm" class="btn btn-info">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col d-flex justify-content-center align-items-center p-4">
                <div class="card bg-dark text-white" style="width: 18rem;">
                    <img src="css/img/Data/4.jpeg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title">¿Qué es un circuito eléctrico?</h5>
                        <p class="card-text text-justify">La corriente eléctrica es un movimiento de electrones, por lo tanto, cualquier circuito debe permitir el paso de los electrones por los elementos que lo componen. Solo habrá paso de electrones por el circuito si el circuito es un circuito cerrado.</p>
                        <a href="https://voltione.com/pages/que-es-circuito-electrico" class="btn btn-info">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <br>

{{> footer}}