<div class="accordion p-4" id="accordionPanelsStayOpenExample">
  <div class="accordion-item bg-dark text-white">
    <h2 class="accordion-header">
      <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Términos y condiciones
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body text-justify">
        <strong>Por favor, lee atentamente los siguientes términos y condiciones antes de utilizar la aplicación "Electro Circuits". Al acceder y utilizar la aplicación, aceptas cumplir con estos términos. Si no estás de acuerdo con alguno de los términos, te recomendamos que no utilices la aplicación.</strong>

        <br> <br>
        ○ Uso de la Aplicación:
            La aplicación "ElectroCircuits" está diseñada para proporcionar recomendaciones y soluciones personalizadas para la resolución de circuitos eléctricos utilizando inteligencia artificial.
            El usuario es responsable de proporcionar información precisa y actualizada sobre los parámetros eléctricos, configuraciones de circuitos y cualquier otra información relevante.

        <br><br>
        ○ Información Personal:
            La aplicación recopilará y procesará información personal, como especificaciones del circuito, valores de resistencia, voltajes y objetivos de diseño. Esta información se utilizará exclusivamente para generar soluciones personalizadas y no se compartirá con terceros sin tu consentimiento.
        <br><br>
        ○ Responsabilidad del Usuario:
            El usuario reconoce que las soluciones proporcionadas por la aplicación "ElectroCircuits" no sustituyen el asesoramiento de un profesional en ingeniería eléctrica.
            Se recomienda consultar a un profesional antes de implementar cambios significativos en un circuito eléctrico.
        <br><br>
        ○ Exactitud de la Información:
            La aplicación se esfuerza por proporcionar soluciones precisas; sin embargo, no se garantiza la exactitud de la información. El usuario utiliza la aplicación bajo su propio riesgo.
        <br><br>
        ○ Propiedad Intelectual:
            Todos los derechos de propiedad intelectual relacionados con la aplicación, incluyendo algoritmos, diseño y contenido, son propiedad de los desarrolladores de "Electro Circuits". No se permite la reproducción o distribución no autorizada de ningún componente de la aplicación.
        <br><br>
        ○ Cambios en los Términos:
            Los términos y condiciones pueden ser actualizados ocasionalmente. Se notificará a los usuarios sobre cambios significativos. La continua utilización de la aplicación después de tales modificaciones constituye la aceptación de los nuevos términos.
        <br><br>
        ○ Terminación del Uso:
            Los desarrolladores de "ElectroCircuits" se reservan el derecho de suspender o terminar la cuenta de cualquier usuario que incumpla estos términos y condiciones.
        <br><br>
        ○ Limitación de Responsabilidad:
            En ningún caso, los desarrolladores de "ElectroCircuits" serán responsables por daños directos, indirectos, especiales, incidentales o consecuentes que surjan del uso de la aplicación.
        <br><br>
        ○ Ley Aplicable:
            Estos términos y condiciones se rigen por las leyes del lugar donde se encuentran los desarrolladores de "ElectroCircuits".
            Al utilizar la aplicación "ElectroCircuits", aceptas y comprendes estos términos y condiciones. Si tienes alguna pregunta o inquietud, por favor, contáctanos a través de los canales de soporte proporcionados en la aplicación.
        <br><br>
<code> Al utilizar la aplicación "ElectroCircuits", aceptas y comprendes estos términos y condiciones. Si tienes alguna pregunta o inquietud, por favor, contáctanos a través de los canales de soporte proporcionados en la aplicación.</code>

      </div>
    </div>
  </div>
  <div class="accordion-item text-justify bg-dark text-white">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Manual de usuario
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
<strong>Manual de Usuario de la Aplicación "ElectroCircuits"</strong><br><br>
                
    ¡Bienvenido a "ElectroCircuits"! Esta aplicación ha sido diseñada para ayudarte a resolver circuitos eléctricos de manera eficiente mediante la aplicación de principios de ingeniería. Por favor, sigue las siguientes instrucciones para aprovechar al máximo tu experiencia con "ElectroCircuits".
    <br><br>
    1. Registro y Configuración de la Cuenta:
        Al iniciar la aplicación por primera vez, serás dirigido a crear una cuenta. Proporciona la información necesaria, incluyendo los parámetros eléctricos del circuito y tus objetivos de diseño.
        Completa tu perfil con detalles precisos para que "ElectroCircuits" pueda generar soluciones personalizadas.
    <br><br>
    2. Resolución de Circuitos:
        Después de configurar tu cuenta, accederás a la pantalla principal. Aquí encontrarás las opciones para introducir los detalles de tu circuito y obtener soluciones específicas.
        Selecciona los componentes y parámetros, y la inteligencia artificial de "ElectroCircuits" generará soluciones adaptadas a tus necesidades.
    <br><br>
    3. Consulta con Profesionales de Ingeniería:
        Aunque "ElectroCircuits" proporciona soluciones basadas en datos ingresados, es fundamental consultar con profesionales de ingeniería antes de implementar cambios significativos en un circuito eléctrico.
    <br><br>
    4. Asistencia y Soporte:
        Si tienes preguntas o encuentras problemas técnicos, visita la sección de ayuda o contáctanos a través de los canales de soporte disponibles en la aplicación.
        Nuestro equipo está aquí para ayudarte a tener la mejor experiencia posible con "ElectroCircuits".
    <br><br>
    5. Actualizaciones y Mejoras:
        Mantén tu aplicación actualizada para acceder a nuevas funciones, mejoras de rendimiento y correcciones de errores.
        Te notificaremos sobre actualizaciones importantes a través de la aplicación.
    <br><br>
    6. Términos y Condiciones:
        Lee y comprende los términos y condiciones de uso de "ElectroCircuits". Estos están disponibles en la sección correspondiente de la aplicación.
    <br><br>
    <code>Gracias por elegir "ElectroCircuits". Estamos comprometidos a ayudarte a resolver tus desafíos en circuitos eléctricos de manera efectiva. ¡Disfruta de tu experiencia de resolución de circuitos!</code>
</div>
</div>
</div>

  <div class="accordion-item bg-dark text-white">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Agradecimientos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body text-justify">
        <strong>En nombre del equipo de desarrollo de "ElectroCircuits", queremos expresar nuestro profundo agradecimiento por elegir nuestra aplicación para acompañarte en tu viaje hacia una resolución efectiva de circuitos eléctricos. Nos sentimos honrados de ser parte de tu búsqueda de excelencia en ingeniería y queremos agradecerte de la siguiente manera:</strong>
      <br><br>
      ○ A nuestros Usuarios:
          Gracias por confiar en "ElectroCircuits" para ayudarte en la resolución de tus desafíos eléctricos. Tu compromiso y dedicación son la fuerza impulsora detrás de nuestra aplicación.
      <br><br>
      ○ A nuestro Equipo de Desarrollo:
          Un agradecimiento especial a nuestro talentoso equipo de desarrolladores, diseñadores y profesionales que han trabajado incansablemente para crear y mejorar continuamente "ElectroCircuits".
      <br><br>
      <code>Gracias por elegir "ElectroCircuits". Estamos comprometidos a ser tu herramienta de confianza en la resolución de circuitos eléctricos. ¡Agradecemos tu preferencia y confianza en nuestro trabajo!</code>

      </div>
    </div>
  </div>
</div>